#principal{
    background:rgb(199, 194, 194);
    width: 100%;
    height: 30%;
    display: inline-block;
    margin-bottom: -0.4%;
}#texto{
    color: rgb(255, 0, 0);
    max-width: 16%;
    float: left;
    margin-left: 3.5%;

}#botaoSair{
    font-size: 15px;
    width: 60px;
    height: 40px;
    background: rgb(204, 0, 0);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 16px;
    float: right;
    margin-top: 3%;
    margin-right: 3.5%;

}#botaoLogin{
    font-size: 10px;
    width: 100px;
    height: 40px;
    background: rgb(82,177,221);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 16px;
    float: right;
    margin-top: 3%;
    margin-right: 3.5%;

}#segunda{
    width: 21.5%;
    background:rgb(60, 60, 60);
    font-size: 30px;
    height: 100pc;
    text-shadow: 0 0 black;
    padding: 0px;
    padding-left: 0px;
    float: left;
    display: inline-block;
}#conteudo{
    width: 78.5%;
    height: 100pc;
    background: rgb(255,255,255);
    float: left; 
    border: 1px solid black;
    
}#item{
    background: rgb(204, 204, 204);
    width: 100%;
    height: 3%;
    text-align: left;
    font-size: 20px;
    border: 1px solid black;
}
.fieldset-border {
    height: 200px;
    width: 500px;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 50px 0 20px 20px !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    float: left;
}

.fieldset-border .legend-border {
    font-size: 1.2em !important;
    text-align: left !important;
   
    padding: 0 10px;
    border-bottom: none;
}
.menu{
    
}


